@import "variables";

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin auto-side-margins {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin-input {
  margin: 1em 1em 0em 0em;
}

@mixin container-wrap {
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin input-border {
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid $color-secondary-middle-tone;
  background: none;
  color: $color-light-primary;
}

@mixin box-shadow-light {
  box-shadow: 2px 2px 8px $color-light-primary;
}

@mixin box-shadow-dark {
  box-shadow: 2px 2px 8px $color-dark-primary;
}

//------MEDIA QUERY MANAGER------//
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 400px) { @content };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) { @content };
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1800px) { @content };
    }
}
