@import "_variables";
@import "_mixins";

*{
padding: 0;
margin: 0;
outline: none;
}

html {
  margin: 0;
  height: $full-height;
}

body {
  position: absolute;
  width: $full-width;
  height: $full-height;
  margin: 0;
  font-family: 'Quicksand';
  background: url("../images/tokyo-city.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

#welcome-title {
  float: left;
}
#login__background {
  width: $full-width;
  filter: blur(5px);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  @include flex-row;
  margin: auto 2em;
}

.greeting {
  background: $color-dark-blue;
  height: 3em;
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-left: 1em;
  margin-right: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}

.greeting__nav {
  @include flex-row;
  margin: auto 0em;
  // position: sticky;
  // top: 0;
}

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-dark-primary;
}

.login-page__box {
  width: 380px;
  height: 350px;
  padding: 25px;
  box-shadow: 0 0 8px black;
  background: $color-dark-primary;;
  opacity: 1;
}

h2 {
  color: $color-light-primary;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2em;
}

h2:before {
  // content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: $color-light-primary;
  top: 70px;
  left: 10%;
}

h3 {
  color: $color-light-primary;
  text-align: center;
  font-size: 1em;
  position: absolute;
  @include auto-side-margins;
}

#login-form {
  margin-top: 80px;
}

.input-border {
  width: $full-width;
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}

.text {
  width: 95%;
  height: $full-height;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid $color-secondary-middle-tone;
  background: none;
  font-size: 18px;
  color: $color-light-primary;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: $color-light-primary;
}

.text:focus ~ .border,
.text:valid ~ .border {
  width: $full-width;
}

.login-label{
  position: absolute;
  top: 8px;
  left: 14px;
  color: $color-secondary-middle-tone;
  pointer-events: none;
  font-size: 18px;
  transition: .5s;
}

.text:focus ~ label,
.text:valid ~ label{
  top: -12px;
  left: 0;
  color: $color-light-primary;
  font-size: 14px;
}

.btn {
  width: $full-width;
  height: 50px;
  border-radius: 8px;
  background: none;
  border: 2px solid $color-secondary-middle-tone;
  color: $color-secondary-middle-tone;
  font-size: 18px;
  transition: .4s;
}

.btn:hover {
  border: 2px solid $color-light-primary;
  color: $color-light-primary;
}

.btn:focus {
  border: 2px solid $color-dark-primary;
  color: $color-dark-primary;
  background: $color-light-primary;
}

.light-btn {
  width: 6em;
  height: 2em;
  margin: auto 1em;
}

.hidden {
  display: none;
}

.navigation__item__title-light {
  color: $color-light-primary;
  margin-left: 1em;
}

.navigation__item__title-light:hover {
  border-bottom: 1px solid $color-light-primary;
}
////////////

.manager-view__information {
  @include flex-column;
  width: auto;
  margin-left: 1em;
  margin-right: 1em;
  background-color: $color-white;
}

.view-headers-dark {
  color: $color-dark-blue;
  height: 2em;
  margin: 1.5em 0 1em 0;
}

div.info-cards {
  height: auto;
  @include flex-row;
  justify-content: space-around;
  width: $full-width;
  flex-wrap: wrap;
  margin: 1em auto;
}

.card {
  margin: 1em;
  border: 2px solid $color-dark-primary;
  width: $primary-size;
  height: $secondary-size;
  @include flex-column;
}

#today-date {
  margin-top: 6em;
  margin-bottom: 2em;
  @include auto-side-margins;
}

.card-title-light {
  // vertical-align: middle;
}
.card-title {
  height: 2em;
  background: $color-dark-primary;
  width: $primary-size;
  justify-content: center;
  @include flex-column;
  align-items: center;
  flex-wrap: wrap;
}

.card-info {
  font-size: 1.5em;
  // text-align: center;
  height: 30px;
  color: $color-dark-primary;
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
  @include auto-side-margins;
  display: flex;
  justify-content: center;
  // align-content: center;
  // text-align: center;
}

#available-rooms{
  font-size: 6em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include auto-side-margins;
  text-align: center;
}

//diagram

.circular-chart {
  color: $color-dark-primary;
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
  #percentage {
  color: $color-dark-primary;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}


//manager-user card-details
.manager-view__user-info {
  height: auto;
  @include flex-column;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
  margin: 1em;
  background: $color-dark-primary;
  color: $color-light-primary;
}

.user-info-form {
  @include flex-row;
  margin: 2em 1em 0 1em;
  align-items: center;
  width: 90%;
}

.user-info-details {
  @include flex-row;
  margin: 2em 1em 0 1em;
}

.manager-form-titles {
  margin: 0em 1em 0 0;
}

#findBookingId {
  margin: 0em 1em 0 1em;
}

#user-name {
  margin-left: 0.3em;
}

#user-total {
  margin-left: 0.3em;
}

.input-id {
  width: 9em;
  height: 1.5em;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid $color-secondary-middle-tone;
  background: none;
  font-size: 18px;
  color: $color-light-primary;
}
.input-dark {
  color: $color-dark-primary;
}
.bookings-container {
  margin: 3em 1em;
  height: $secondary-size;
  width: auto;
  @include flex-column;
  overflow: scroll;
}

.room-img {
  height: 100px;
}

.booking-card {
  @include flex-row;
  height: $full-height;
  width: $full-width;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  @include flex-row;
  padding: 1em;
  background-color: $color-white;
  color: $color-dark-primary;
  font-size: 0.8em;
  margin: 1em 0;
  width: auto;
  height: 10em;
}

.card-container:hover {
  box-shadow: 2px 2px 8px $color-light-primary;
}

.card-details {
  margin: auto 1em;
}

.room-detail {
  margin: 0.4em;
}

#price-booking {
  font-size: 2em;
}

#delete-button {
  height: 1.5em;
  width: 7em;
  margin-left: 1em;
}

.card-left-side {
  @include flex-row;
}
///add reservatioin-manager

.manager-view__book-room {
  height: auto;
  @include flex-column;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
  margin: 1em;
  background: $color-white;
  color: $color-dark-primary;
}
.user-info-details {
  @include flex-row;
}
.dark-input {
  color: $color-dark-primary;
  margin-bottom: 1em;
  width: 15em;
}

#no-rooms-message {
  margin: auto 3em;
  font-size: 1.5vw;
}

#manager-data-input {
  margin: 1em 1em 0em 0em;
}

#manager-room-input {
  margin: 0em 1em 0em 0em;
}

.left-side-container {
  @include flex-column;
}
//
.available-rooms-container {
  height: 40em;
  @include flex-row;
  justify-content: space-around;
  width: $full-width;
  flex-wrap: wrap;
  margin: 3em auto;
  overflow: scroll;
}


.book-room-card {
  margin: 1em;
  width: 14em;
  height: $primary-size;
  @include flex-column;
  color: $color-light-primary;
  background-color: $color-dark-primary;
  padding: 1em;
  justify-content: space-between;
}

.book-room-card:hover {
  box-shadow: 2px 2px 8px $color-dark-primary;
}

.book-room-img {
  width: $full-width;
  height: 8em;
  margin-bottom: 1em;
  border: 1px solid $color-light-primary;
}

.book-card-details {
  @include flex-column;
  align-items:  center;
}

.room-btn {
  height: 2em;
}

.room-btn-manager {
  height: 2em;
}

.book-room-detail {
  margin: 1em auto;
}

//userview - info-cards
#customer-page {
  background-image: none !important;
  background: none !important;
  background-size: 0 !important;
  background-color: $color-dark-primary;
  height: 100%;
}
.user-view__reservations {
  background-color: $color-dark-primary;
  height: auto;
  padding: 3em 0 0 0;
  @include flex-column;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
  margin: 0em 1em 1em 1em;
}

.user-header-light {
  margin: auto;
  background-color: $color-dark-primary;
  color: $color-light-primary;
}

//book a rooms
.user-view__book-room {
  background-color: $color-white;
  margin: 1em 1em;
  padding: 1em 1em;
  width: auto;
  height: auto;
}

.user-book-room-title {
  margin-top: 4em;
}

#user-date-input {
  margin: 1em 1em 0em 0em;
}

#user-room-input {
  margin: 0em 1em 0em 0em;
}

#total-spent {
  font-size: 1.5em;
  float: left;
  position: absolute;
  top: 6em;
  left: 1em;
}
