@import "_variables";
@import "_mixins";

* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  margin: 0;
  height: $full-height;
  font-size: 100%;

    @include respond(phone) {
        font-size: 55%;
    }

    @include respond(tab-land) {
        font-size: 75%;
    }

    @include respond(tab-port) {
        font-size: 80%;
    }

    @include respond(big-desktop) {
        font-size: 100%;
    }

  body {
    position: absolute;
    width: $full-width;
    height: $full-height;
    margin: inherit;
    font-family: 'Quicksand';
    background: url("../images/night-city.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
  }
}

#welcome-title {
  float: left;
}
#login__background {
  width: $full-width;
  filter: blur(5px);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  @include flex-row;
  margin: auto 2em;
}

.greeting {
  background: $color-dark-blue;
  height: 3em;
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  width: $auto-width;
  margin-left: 1em;
  margin-right: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}

.greeting__nav {
  @include flex-row;
  margin: auto 0em;
}

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-dark-primary;

  &__box {
    width: 380px;
    height: 350px;
    padding: 25px;
    box-shadow: 0 0 8px black;
    background: $color-dark-primary;;
    opacity: 1;
    text-align: center;
  }
}

h2 {
  color: $color-light-primary;
  text-align: center;
  margin-bottom: 25px;
}

h2:before {
  position: absolute;
  width: 80%;
  height: 2px;
  background: $color-light-primary;
  top: 70px;
  left: 10%;
}

h3 {
  color: $color-light-primary;
  text-align: center;
  position: absolute;
  @include auto-side-margins;
}

#login-form {
  margin-top: 80px;
}

#login-error {
  animation: fadeIn 2s;
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
}

.input-border {
  width: $full-width;
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}

.text {
  width: 95%;
  height: $full-height;
  padding: 0 10px;
  @include input-border;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: $color-light-primary;
}

.text:focus ~ .border,
.text:valid ~ .border {
  width: $full-width;
}

.login-label{
  position: absolute;
  top: 8px;
  left: 14px;
  color: $color-secondary-middle-tone;
  pointer-events: none;
  transition: .5s;
}

.text:focus ~ label,
.text:valid ~ label{
  top: -12px;
  left: 0;
  color: $color-light-primary;
}

.btn {
  width: $full-width;
  height: 50px;
  border-radius: 8px;
  background: none;
  border: 2px solid $color-secondary-middle-tone;
  color: $color-secondary-middle-tone;
  transition: .4s;
}

.btn:hover {
  border: 2px solid $color-light-primary;
  color: $color-light-primary;
}

.btn:focus {
  border: 2px solid $color-dark-primary;
  color: $color-dark-primary;
  background: $color-light-primary;
}

.light-btn {
  width: 6em;
  height: $box-height;
  margin: $margin-auto-sides;
}

.navigation__item__title-light {
  color: $color-light-primary;
  margin-left: 1em;
}

.navigation__item__title-light:hover {
  border-bottom: 1px solid $color-light-primary;
}

.navigation__item__title-light:focus {
  border-bottom: 1px solid $color-light-primary;
}

.manager-view__information {
  @include flex-column;
  width: $auto-width;
  margin-left: 1em;
  margin-right: 1em;
  background-color: $color-white;
}

.view-headers-dark {
  color: $color-dark-blue;
  height: $box-height;
  margin: 1.5em 0 1em 0;
}

div.info-cards {
  height: auto;
  @include flex-row;
  @include container-wrap;
  width: $full-width;
  margin: $margin-auto-top-bot;
}

.card {
  margin: $margin-primary;
  border: 2px solid $color-dark-primary;
  width: $primary-size;
  height: $secondary-size;
  @include flex-column;

  &__title {
    height: $box-height;
    background: $color-dark-primary;
    width: $primary-size;
    justify-content: center;
    @include flex-column;
    align-items: center;
    flex-wrap: wrap;
  }

  &__info {
    height: 30px;
    color: $color-dark-primary;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
    @include auto-side-margins;
    @include flex-row;
    justify-content: center;
  }
}

.card:focus {
  box-shadow: 4px 3px 4px $color-dark-primary;
}

#today-date {
  margin-top: 6em;
  margin-bottom: 2em;
  @include auto-side-margins;
  font-size: $today-font;
}

#today-revenue {
  font-size: $today-font;
}

#available-rooms{
  font-size: 10em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include auto-side-margins;
  text-align: center;
}

//-------Diagram------//
.circular-chart {
  color: $color-dark-primary;
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 250px;

  &__circle {
    stroke: #4CC790;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
  #percentage {
  color: $color-dark-primary;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}

//------Manager-User--Details------//
.manager-view__user-info {
  height: auto;
  @include flex-column;
  @include container-wrap;
  width: $auto-width;
  margin: $margin-primary;
  background: $color-dark-primary;
  color: $color-light-primary;
}

.user-info-form {
  @include flex-row;
  margin: 2em 1em 0 1em;
  align-items: center;
  width: 90%;
}

.user-info-details {
  @include flex-row;
  margin: 2em 1em 0 1em;
}

.manager-form-titles {
  margin: 0em 1em 0 0;
}

#findBookingId {
  margin: 0em 1em 0 1em;
}

#user-name {
  margin-left: 0.3em;
}

#user-total {
  margin-left: 0.3em;
}

.input-id {
  width: 9em;
  height: 1.5em;
  @include input-border;
}

.input-id:focus {
  border-bottom: 3px solid $color-light-primary;
}

#manager-date-choice:focus,
#manager-user-id-input:focus,
#manager-room-types:focus,
#user-date-input:focus,
#user-room-data:focus {
  border-bottom: 3px solid $color-dark-blue;
}

.input-dark {
  color: $color-dark-primary;
}

.bookings-container {
  margin: 3em 1em;
  height: $secondary-size;
  width: $auto-width;
  @include flex-column;
  overflow: scroll;
}

.room-img {
  height: 100px;
}

.booking-card {
  @include flex-row;
  height: $full-height;
  width: $full-width;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  @include flex-row;
  padding: $padding-primary;
  background-color: $color-white;
  color: $color-dark-primary;
  font-size: 0.8em;
  margin: 1em 0;
  width: $auto-width;
  height: 10em;
}

.card-container:hover {
  @include box-shadow-light;
}

.card-details {
  margin: $margin-auto-sides;
}

.room-detail {
  margin: 0.4em;
}

#price-booking {
  font-size: 2em;
}

#delete-button {
  @include respond(phone) {
    width: 8em;
    height: 2.2em;
    margin: $margin-auto-sides;
    font-size: 0.9em;
  }
}

.card-left-side {
  @include flex-row;
}

//------Add-Reservatioin-Manager------//
.manager-view__book-room {
  height: auto;
  @include flex-column;
  @include container-wrap;
  width: $auto-width;
  margin: $margin-primary;
  background: $color-white;
  color: $color-dark-primary;
}

.user-info-details {
  @include flex-row;
}

.dark-input {
  color: $color-dark-primary;
  margin-bottom: 1em;
  width: 15em;
}

#no-rooms-message {
  margin: auto 3em;
}

#no-rooms-message-1 {
  margin: auto 0.5em;
}

#no-rooms-message-customer {
  margin: $margin-primary;
}

#manager-data-input {
  margin: 1em 1em 0em 0em;
}

#manager-room-input {
  margin: 0em 1em 0em 0em;
}

.left-side-container {
  @include flex-column;
}

.available-rooms-container {
  height: 40em;
  @include flex-row;
  @include container-wrap;
  width: $full-width;
  margin: 3em auto;
  overflow: scroll;
}

.book-room-card {
  margin: $margin-primary;
  width: 14em;
  height: $primary-size;
  @include flex-column;
  color: $color-light-primary;
  background-color: $color-dark-primary;
  padding: $padding-primary;
  justify-content: space-between;
}

.book-room-card:hover {
  @include box-shadow-dark;
}

.book-room-img {
  width: $full-width;
  height: 8em;
  margin-bottom: 1em;
  border: 1px solid $color-light-primary;
}

.book-card-details {
  @include flex-column;
  align-items: center;
}

.room-btn {
  height: $box-height;
}

.room-btn-manager {
  height: $box-height;
}

.book-room-detail {
  margin: $margin-auto-top-bot;
}

//------Userview-Info-Cards-------//
#customer-page {
  background-image: none !important;
  background: none !important;
  background-size: 0 !important;
  background-color: $color-dark-primary;
  height: 100%;
}

.user-view__reservations {
  background-color: $color-dark-primary;
  height: auto;
  padding: 3em 0 0 0;
  @include flex-column;
  @include container-wrap;
  width: $auto-width;
  margin: 0em 1em 1em 1em;
}

.user-header-light {
  margin: auto;
  background-color: $color-dark-primary;
  color: $color-light-primary;
}

//------Userview-Book-Rooms-------//
.user-view__book-room {
  background-color: $color-white;
  margin: $margin-primary;
  padding: $padding-primary;
  width: $auto-width;
  height: auto;
}

.user-book-room-title {
  margin-top: 4em;
}

#user-room-input {
  @include margin-input;
}

#total-spent {
  font-size: $today-font;
  float: left;
  position: absolute;
  top: 6em;
  left: 1em;
  margin-left: 0.3em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#blockColorblindContent {
  display: none;
}
